body {
    font-family: 'Roboto Mono', sans-serif;
    margin: auto;
    color: #36332d;
}

/****************
 *    Header    *
 ****************/

#icon{
    height: 40px;
    width: 40px;
    margin-right: 20px;
}
header{
    width: 100%;
    background-color: #63B995;
    border-bottom: 1px solid #00000055;
    box-shadow: 0 0 5px #000000bd;
}
#headerContainer{
    width: 1150px;
    margin: auto;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    padding: 20px;
    margin-left: 15px;
}

/****************
 * Main content *
 ****************/
#wrapper{
    font-family: 'Varela Round', sans-serif;
    width: 1150px;
    font-size: 25px;
    padding: 0 40px 0 40px;
}

#containers{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}


/******************
 * Left container *
 ******************/

#leftcontainer{
    max-width: 250px;
    width: 100%;
    min-height: 100px;
    height: 100%;
    margin: 0 40px 0 0;
    background-color: #f4f5f8;
    box-shadow: -2px 0 8px #64646490;
    border-radius: 12px;
}
#leftcontainerheader{
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    margin: 0;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.column-wrapper{
    display: flex;
    flex-direction: column;
}
.expandable {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 18px;
}
.dot{
    border-radius: 10px;
    border: 1px solid grey;
    height: 10px;
    width: 10px;
    background-color: green;

}
.expand {
    height: 35px;
    width: 35px;
}
.sensor-data{
    display: none;
    font-size: 15px;
    margin: 0 0 45px 45px;
}
#button-wrapper{
    display: flex;
    justify-content: center;
}
.button {
    background-color: #63B995;
    border-radius: 10px;
    font-size: 15px;
    padding: 6px;
    margin: 8px 8px 15px 8px;
    font-weight: bold;
}

/*******************
 * Right container *
 *******************/

/*#mapafeik{
    width: 100%;
    max-width: 500px;
    height: 300px;
}*/

#map {
    width: 100%;
    max-width: 600px;
    height: 300px;
}
#floating-panel {
    background-color: #fff;
    padding: 5px;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
  }
  #floating-panel {
    background-color: #fff;
    left: 25%;
    padding: 5px;
  }
